.contacts {
	display: flex;
	flex-direction: column;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	@media (--desktop-only) {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-areas: "title map" "table map" "button map";
		padding: 71px 50px 105px 225px;
	}
}

.contacts__title {
	position: relative;
	margin: 38px 30px 28px;

	grid-area: title;

	@media (--not-mobile) {
		margin: 68px 50px 49px;

		&::before {
			position: absolute;
			right: 50px;
			width: 47px;
			height: 81px;
			content: "";
			outline: 1px dashed #000000;
			outline-offset: -1px;
		}
	}

	@media (--desktop-only) {
		margin: 78px 50px 34px 0;

		&::before {
			left: -112px;
		}
	}
}

.contacts__list {
	display: grid;
	grid-template-columns: 76px 185px;
	margin: 0 30px 42px;

	grid-area: table;

	@media (--tablet-only) {
		grid-template-columns: 82px 253px 82px 253px;
		margin: 0 50px 49px;
	}

	@media (--desktop-only) {
		grid-template-columns: 82px 250px;
		margin: 0 23px 84px 0;
	}
}

.contacts__item {
	margin: 0;
	padding: 20px 2px;
	font-size: 14px;
	line-height: 30px;

	@media (--not-mobile) {
		font-size: 17px;
		padding: 0 2px 20px;
	}
}

.contacts__map {
	width: 320px;
	height: 455px;
	margin: 0 auto;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	grid-area: map;

	@media (--not-mobile) {
		width: 768px;
		height: 457px;
	}

	@media (--desktop-only) {
		width: 527px;
		height: 457px;
	}
}

.contacts__button {
	margin: 57px 30px 55px;
	grid-area: button;

	@media (--tablet-only) {
		align-self: center;
	}

	@media (--desktop-only) {
		justify-self: start;
		margin: 0;
	}
}
