.contacts {
	padding: 38px 0;

	@media #{$not-mobile} {
		padding: 68px 0 57px;
	}

	@media #{$desktop-only} {
		padding: 71px 0 105px 175px;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 2fr 3fr;
		grid-template-areas: "contacts map" "button map";
	}
}

.contacts__container {
	display: flex;
	flex-direction: column;
	outline: 1px dashed #000000;
	outline-offset: -1px;
	grid-area: contacts;

	&--button {
		grid-area: button;
		align-items: center;
	}
}

.contacts__title {
	position: relative;
	margin: 0;
	margin-bottom: 28px;

	@media #{$not-mobile} {
		margin-bottom: 49px;

		&::before {
			position: absolute;
			top: -12px;
			right: 0;
			width: 110px;
			height: 82px;
			content: "";
			outline: 1px dashed #000000;
			outline-offset: -1px;
			background: url("../../icons/stack.svg#flag-icon") no-repeat center / contain;
		}
	}

	@media #{$desktop-only} {
		margin: 79px 0 34px;


		&::before {
			left: -175px;
		}
	}
}

.contacts__list {
	display: grid;
	grid-template-columns: 76px 185px;
	margin: 0;
	margin-bottom: 62px;

	@media #{$tablet-only} {
		grid-template-columns: 1fr 3fr 1fr 3fr;
		margin-bottom: 49px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 82px 250px;
		gap: 33px 0;
	}
}

.contacts__item {
	margin: 0;
	padding: 20px 2px;
	font-size: 14px;
	line-height: 30px;

	a {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px solid var(--accent-link-color);

		&:hover {
			color: var(--fourth-accent-color);
			border-color: var(--fourth-accent-color);
		}

		&:active {
			color: var(--fourth-accent-color);
			border-color: var(--pale-link-color);
		}
	}

	@media #{$not-mobile} {
		font-size: 17px;
		padding: 0 2px;
	}

	@media #{$tablet-only} {
		padding: 0;
	}
}

.contacts__map {
	width: 100%;
	height: 455px;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	grid-area: map;

	@media #{$not-mobile} {
		height: 457px;
	}

	@media #{$desktop-only} {
		width: 527px;
		height: 457px;
	}
}

.contacts__button {
	display: inline-block;
	margin-top: 42px;

	@media #{$tablet-only} {
		margin-top: 55px;
		padding: 16px 30px;
	}

	@media #{$desktop-only} {
		margin: 0;
		margin-right: auto;
		padding: 16px 36px;
	}
}
