.filter__label {
	display: flex;
	align-items: center;
	gap: 23px;
	font-weight: 700;

	@media #{$not-mobile} {
		gap: 30px;
	}

	&--radio {
		gap: 19px;

		@media #{$not-mobile} {
			gap: 26px;
		}

		@media #{$desktop-only} {
			gap: 27px;
		}
	}
}

.filter__input {
	position: relative;
	margin: 0;
	appearance: none;

	&::before {
		box-sizing: border-box;
		content: "";
		display: block;
		width: 40px;
		height: 40px;
		border: 2px solid var(--base-color);

		@media #{$not-mobile} {
			width: 50px;
			height: 50px;
		}

		@media #{$desktop-only} {
			margin-top: -1px;
		}
	}

	&:hover::before {
		border-color: var(--accent-link-color);
	}

	&:active::before {
		border-color: var(--pale-active-color);
	}

	&--radio {
		&::before {
			border-radius: 50%;
		}

		&:checked::after {
			position: absolute;
			top: 12px;
			left: 12px;
			width: 16px;
			height: 16px;
			background: var(--accent-link-color);
			border-radius: 50%;
			content: "";
		}

		@media #{$not-mobile} {
			margin-left: 2px;

			&:checked::after {
				top: 15px;
				left: 15px;
				width: 20px;
				height: 20px;
			}
		}
	}

	&--checkbox {
		&::before {
			width: 38px;
			height: 38px;

			@media #{$not-mobile} {
				width: 52px;
				height: 52px;
			}
		}

		&:checked::after {
			position: absolute;
			top: 9px;
			left: 9px;
			width: 19px;
			height: 9px;
			border-left: 2px solid var(--main-color);
			border-bottom: 2px solid var(--main-color);
			transform: rotate(-45deg);
			content: "";
		}

		@media #{$tablet-only} {
			margin-top: 1px;
			margin-left: -1px;
		}

		@media #{$not-mobile} {
			&:checked::after {
				top: 14px;
				left: 12px;
				width: 27px;
				height: 13px;
			}
		}
	}
}
