//Footer
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light-accent-color);
}

.footer__list {
	margin: 0;
	padding: 0;
}

.footer__copyright {
	display: flex;
}

.footer__logo {
	display: block;
	width: 27px;
	height: 34px;
	outline: 1px dashed #000000;
	outline-offset: -1px;
}
