//Footer
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 30px;
	background-color: var(--light-accent-color);

	@media (--not-mobile) {
		flex-direction: row;
		justify-content: space-between;
		padding: 51px 50px 58px;
	}
}

.footer__main-logo {
	display: none;

	@media (--not-mobile) {
		display: block;
	}
}

.footer__list {
	margin: 0;
	padding: 0;
}

.footer__copyright {
	display: flex;
}

.footer__logo {
	display: block;
	width: 27px;
	height: 34px;
	outline: 1px dashed #000000;
	outline-offset: -1px;
}
