.form {
	display: flex;
	flex-direction: column;
}

.form__filter-group {
	display: flex;
	flex-direction: column;
	padding: 15px 0;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	@media (--not-mobile) {
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: baseline;
		padding: 50px 0;
	}

	@media (--desktop-only) {
		grid-template-columns: 1fr 4fr;
		padding-right: 175px;
		box-sizing: border-box;
	}

	&--colorized {
		@media (--not-mobile) {
			background: var(--light-accent-color);
		}

		input {
			@media (--not-mobile) {
				background: var(--light-accent-color);
			}
		}
	}
}

.form__filter-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--accent-color);

	@media (--desktop-only) {
		padding-left: 47px;
	}
}

.form__filter-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0;
	padding: 0;
	list-style: none;


	&--checkbox {
		@media (--tablet-only) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		@media (--desktop-only) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

.form__filter-item {
	margin-bottom: 15px;
}

.form__text {
	font-size: 17px;
	line-height: 18px;
	color: var(--main-color);

	@media (--not-mobile) {
		font-size: 19px;
	}
}

.form__filter-container {
	display: flex;
	flex-direction: column;
}

.form__filter-label {
	font-weight: 700;
}

.form__filter-input {
	margin-bottom: 20px;
	padding: 17px 0;
	font-family: inherit;
	color: var(--base-color);
	border: none;
	border-bottom: 2px solid var(--main-color);
}

.form__filter-text {
	padding: 17px;
	border: 2px solid var(--base-color);
}

.form__container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@media (--not-mobile) {
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
}

.form__tip {
	font-size: 14px;
	line-height: 16px;

	@media (--not-mobile) {
		font-size: 17px;
		line-height: 30px;
		order: 2;
	}
}

.form__button {
	@media (--not-mobile) {
		padding: 18px 32px;
	}
}
