.form {
	display: flex;
	flex-direction: column;

	@media #{$tablet-only} {
		padding-right: 4px;
	}
}

.form__wrapper {
	@media #{$not-mobile} {
		background: var(--light-accent-color);
	}

	input {
		@media #{$not-mobile} {
			background: var(--light-accent-color);
		}
	}
}

.form__filter-group {
	display: grid;
	padding: 15px 0;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	&--wrapper {
		padding: 7px 0 9px;
	}

	&--textarea {
		padding-bottom: 8px;
	}

	@media #{$not-mobile} {
		grid-template-columns: 1fr 3fr;
		align-items: baseline;
		padding: 50px 0;

		&--name {
			padding-bottom: 29px;
		}

		&--wrapper {
			padding: 45px 0 28px;
		}
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 4fr;
		align-items: start;
		padding-right: 175px;
		box-sizing: border-box;

		&--checkbox {
			grid-template-columns: 175px 740px;
			padding-right: 0;
		}

		&--textarea {
			padding-bottom: 47px;
		}
	}
}

.form__filter-title {
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 0;
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--accent-color);

	&--radio {
		margin-bottom: 30px;
	}

	&--tel {
		margin-bottom: 0;
	}

	&--email {
		margin-bottom: 5px;
	}

	&--textarea {
		margin-bottom: 22px;
	}

	&::after {
		flex-grow: 1;
		height: 1px;
		background: var(--accent-link-color);
		content: "";

		@media #{$not-mobile} {
			display: none;
		}
	}

	@media #{$desktop-only} {
		margin-block: 19px;
		padding-left: 62px;
	}
}

.form__filter-list {
	display: grid;
	gap: 15px;
	margin: 0;
	padding: 0;
	list-style: none;

	@media #{$not-mobile} {
		gap: 25px;
	}

	&--checkbox {
		gap: 23px;

		@media #{$not-mobile} {
			grid-template-columns: 1fr 1fr;
		}

		@media #{$desktop-only} {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 25px 50px;
		}
	}
}

.form__text {
	font-size: 17px;
	line-height: 18px;
	color: var(--main-color);

	@media #{$not-mobile} {
		font-size: 19px;
	}
}

.form__filter-container {
	display: flex;
	flex-direction: column;

	@media #{$desktop-only} {
		padding-left: 2px;
	}
}

.form__filter-label {
	font-weight: 700;
	margin-top: 11px;

	@media #{$not-mobile} {
		display: flex;
		gap: 25px;
		align-items: baseline;
		margin-top: 0;
	}
}

.form__filter-icon {
	position: relative;

	&--wrapper {
		margin-bottom: 22px;

		@media #{$not-mobile} {
			margin-bottom: 0;
		}
	}

	&::before {
		position: absolute;
		top: 10px;
		right: 3px;
		width: 32px;
		height: 32px;
		background-color: var(--pale-main-color);
		mask: url("../../icons/stack.svg#tel-icon") no-repeat center / contain;
		content: "";
		z-index: 100;

		@media #{$not-mobile} {
			top: 12px;
			right: 22px;
		}

		@media #{$desktop-only} {
			right: 4px;
		}
	}

	&--email::before {
		mask: url("../../icons/stack.svg#email-icon") no-repeat center / contain;
	}

	&:hover,
	&:active {
		&::before {
			background-color: var(--accent-link-color);
		}
	}
}

.form__filter-input {
	width: 100%;
	margin-bottom: 13px;
	padding: 17px 0 12px;
	font-family: inherit;
	color: var(--base-color);
	border: none;
	border-bottom: 2px solid var(--main-color);
	box-sizing: border-box;

	&--wrapper {
		padding: 17px 0 19px;
	}

	&::placeholder {
		color: var(--pale-main-color);
	}

	&:hover,
	&:active {
		border-color: var(--accent-link-color);
	}

	@media #{$not-mobile} {
		padding: 14px 17px 10px;
		margin-bottom: 23px;

		&--wrapper {
			padding: 14px 17px 15px;
		}
	}

	@media #{$desktop-only} {
		padding-bottom: 11px;

		&--wrapper {
			padding-bottom: 14px;
		}
	}
}

.form__filter-text {
	padding: 17px;
	font-family: inherit;
	border: 2px solid var(--base-color);
	resize: none;

	&::placeholder {
		color: var(--pale-main-color);
	}

	&:hover,
	&:active {
		border-color: var(--accent-link-color);
	}

	@media #{$not-mobile} {
		padding: 16px;
	}
}

.form__container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@media #{$not-mobile} {
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	@media #{$desktop-only} {
		padding: 0 175px;
		box-sizing: border-box;
	}
}

.form__tip {
	font-size: 14px;
	line-height: 16px;

	@media #{$not-mobile} {
		font-size: 17px;
		line-height: 30px;
		order: 2;
	}
}

.form__button {
	font-size: 17px;
	line-height: 16px;

	@media #{$not-mobile} {
		padding: 16px 30px;
	}
}
