// page-header
.header {
	position: relative;
	display: flex;
	padding: 19px 0;

	a {
		color: var(--main-color);
		text-decoration: none;

		&:hover {
			color: var(--pale-hover-color);
		}

		&:active {
			color: var(--pale-active-color);
		}
	}

	@media #{$not-mobile} {
		display: block;
		padding: 0;
	}
}

.header__logo {
	position: absolute;
	top: 16px;
	left: 48%;
	transform: translate(-48%);


	@media #{$tablet-only} {
		left: 52px;
	}

	@media #{$desktop-only} {
		top: 9px;
		left: 50%;
		transform: translate(-50%);
	}
}

.header__nav {
	margin-left: auto;

	@media #{$not-mobile} {
		margin: 0;
	}
}
