// page-header
.header {
	position: relative;
	display: flex;
	padding: 22px 0;

	@media (--not-mobile) {
		display: block;
	}
}

.header__logo {
	position: absolute;
	top: 22px;
	left: 42%;

	@media (--tablet-only) {
		left: 0;
	}

	@media (--desktop-only) {
		left: 43%;
	}
}

.header__nav {
	margin-left: auto;

	@media (--not-mobile) {
		margin: 0;
	}
}
