.intro {
	position: relative;
	padding-bottom: 133px;
	background: var(--light-accent-color) no-repeat center/cover;
	text-align: center;

	@media #{$not-mobile} {
		padding-bottom: 0;
	}

	@include bg-adaptive(intro, jpg);
}

.intro__title {
	margin: 0;
	padding: 80px 30px 324px;

	@media #{$not-mobile} {
		padding: 155px 50px 480px;
	}
}

.intro__container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	@media #{$mobile-only} {
		left: -30px;
		right: -30px;
	}
}

.intro__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;

	@media #{$not-mobile} {
		flex-direction: row;

		.intro__item {
			flex-grow: 1;
		}
	}
}

.intro__link {
	position: relative;
	display: block;
	padding: 24px 30px 31px;
	font-size: 19px;
	font-weight: 700;
	color: var(--light-color);
	text-decoration: none;

	&::after {
		position: absolute;
		top: 21px;
		right: 27px;
		width: 64px;
		height: 64px;
		background: var(--accent-dark-color);
		opacity: 0.5;
		content: "";
	}

	&--stuff {
		background: var(--accent-color);

		&::after {
			background: url("../../icons/stack.svg#stuff-icon") no-repeat center / contain;
		}

		&:hover {
			background: var(--third-accent-color);
		}

		&:active {
			background: var(--third-accent-color);
		}
	}


	&--toy {
		background: var(--sec-accent-color);

		&::after {
			background: url("../../icons/stack.svg#toy-icon") no-repeat center / contain;
		}

		&:hover {
			background: var(--fourth-accent-color);
		}

		&:active {
			background: var(--fourth-accent-color);
		}
	}

	&:hover {
		padding-bottom: 36px;

		&::after {
			opacity: 0.7;
		}
	}

	&:active {
		&::after {
			opacity: 0.3;
		}
	}

	@media #{$not-mobile} {
		padding: 25px 26px 34px;
		font-size: 20px;
		line-height: 30px;

		&:hover {
			margin-top: -5px;
			padding-bottom: 39px;
		}
	}
}
