.logo {
	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.logo__image {
	display: block;
	width: 89px;
	height: 35px;

	@media #{$tablet-only} {
		width: 114px;
		height: 46px;
	}

	@media #{$desktop-only} {
		width: 149px;
		height: 72px;
	}
}

.logo__footer {
	width: 102px;
	height: 35px;

	&:hover {
		--logo-color: #46c1ae;
	}

	&:active {
		--logo-color: #46c1ae;
		opacity: 0.3;
	}
}
