.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background: rgba(#ffffff, 0.9);
	z-index: 10;

	&--close {
		display: none;
	}
}

.modal__close-button {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
}

.modal__inner {
	position: relative;
	margin: auto;
	padding: 28px 28px 46px;
	background: var(--light-color);
	border: 2px solid var(--border-modal-color);
	box-shadow: 0 5px 10px var(--modal-shadow-color);
	box-sizing: border-box;

	@media #{$not-mobile} {
		padding: 38px 95px 46px;
	}
}
