.nav__toggle {
	width: 40px;
	height: 40px;
	background: var(--main-color);
	outline: 1px dashed #000000;
	outline-offset: -1px;

	@media #{$not-mobile} {
		display: none;
	}
}

.nav__wrapper {
	@media #{$mobile-only} {
		position: absolute;
		top: 79px;
		left: -30px;
		right: -30px;
		display: flex;
		flex-direction: column;
		background: var(--light-color);
		z-index: 2;

		&--close {
			display: none;
		}
	}

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "user user" "site delivery";
	}

	@media #{$desktop-only} {
		gap: 0 150px;
		grid-template-areas: "site user" "promo delivery";
	}
}

.nav__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 700;
	list-style: none;

	@media #{$not-mobile} {
		flex-direction: row;
	}
}

.nav__item {
	padding: 27px 30px;

	@media (--main-color) {
		border-top: 1px solid var(--pale-border-color);
	}
}

.nav__link {
	@media #{$mobile-only} {
		padding-left: 46px;
	}
}

.nav__delivery {
	display: none;

	@media #{$not-mobile} {
		display: block;
		grid-area: delivery;
		margin-left: auto;
		padding: 20px 0;
	}
}
