.nav__toggle {
	width: 40px;
	height: 40px;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	@media (--not-mobile) {
		display: none;
	}
}

.nav__wrapper {
	display: none;

	@media (--not-mobile) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "promo user" "site delivery";
	}

	@media (--desktop-only) {
		gap: 0 150px;
		grid-template-areas: "site user" "promo delivery";
	}
}

.nav__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 700;
	list-style: none;

	a {
		color: var(--main-color);
		text-decoration: none;
	}

	@media (--not-mobile) {
		flex-direction: row;
	}
}

.nav__delivery {
	display: none;

	@media (--not-mobile) {
		display: block;
		grid-area: delivery;
		margin-left: auto;
		padding: 20px 0;
	}
}
