.offer {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px 0 42px;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas: "title title promo" "text image image" "table image image" "price image image" "button image image";

		padding: 40px 0 70px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 2fr 3fr;
		grid-template-areas: "promo title image" "promo text image" "promo table image" "promo price image" "promo button image";

		padding: 54px 0 95px;
	}
}

.offer__title {
	margin: 0;
	margin-bottom: 6px;
	grid-area: title;

	@media #{$tablet-only} {
		margin-bottom: 48px;
	}

	@media #{$desktop-only} {
		grid-column: 2/4;
		margin: 62px 0 40px;
	}
}

.offer__promo {
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--accent-color);
	grid-area: promo;

	@media #{$not-mobile} {
		margin-top: 70px;
		margin-left: 32px;
		width: 100px;
		line-height: 17px;
		text-align: center;
	}

	@media #{$tablet-only} {
		margin: 6px 16px 0 0;
		justify-self: end;
	}
}

.offer__text {
	grid-area: text;
	margin-bottom: 24px;

	@media #{$not-mobile} {
		margin: -12px 0 36px;
		font-size: 17px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		margin-bottom: 46px;
	}
}

.offer__list {
	display: grid;
	grid-template-columns: 38% 62%;
	margin: 0;
	margin-bottom: 28px;

	grid-area: table;

	@media #{$tablet-only} {
		grid-template-columns: 28% 60%;
		margin-bottom: 57px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 28% 55%;
		margin-bottom: 107px;
	}
}

.offer__item {
	margin: 0;
	padding: 7px 0 10px;
	line-height: 20px;
	border-bottom: 1px solid var(--border-color);
}

.offer__container {
	grid-area: image;
	z-index: -1;
}

.offer__image {
	display: block;
	width: 260px;
	height: 315px;
	margin-bottom: 30px;

	@media #{$not-mobile} {
		width: 334px;
		height: 404px;
		margin: 0;
		margin-left: auto;
	}

	@media #{$desktop-only} {
		width: 525px;
		height: 636px;
	}
}

.offer__price {
	display: block;
	margin-bottom: 24px;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	grid-area: price;

	@media #{$not-mobile} {
		margin-bottom: 18px;
		margin-left: 74px;
		font-size: 20px;
		text-align: left;
	}
}

.offer__button {
	grid-area: button;
	padding: 14px;

	@media #{$not-mobile} {
		display: inline-block;
		width: 83%;
		box-sizing: border-box;
		margin-top: auto;
	}

	@media #{$tablet-only} {
		width: 87%;
	}
}
