.order {
	position: relative;
	background: var(--light-color);
	padding-bottom: 55px;

	&::before {
		position: absolute;
		top: -10px;
		left: 0;
		right: 0;
		width: 100%;
		height: 24px;
		z-index: 10;
		content: "";
	}

	@media #{$not-mobile} {
		padding: 50px 0;

		&::before {
			background: url("../../icons/stack.svg#wave") repeat-x top;
			background-size: 39px 24px;
		}
	}

	@media #{$desktop-only} {
		padding: 96px 0 50px;

		&::before {
			top: -20px;
			height: 34px;
			background-size: 58px 34px;
		}
	}
}

.order__text {
	padding: 19px 0 15px;
	font-size: 13px;

	@media #{$mobile-only} {
		br {
			display: none;
		}
	}

	@media #{$not-mobile} {
		font-size: 17px;
		line-height: 30px;
		padding: 16px 0 15px;
	}

	@media #{$desktop-only} {
		box-sizing: border-box;
		padding-left: 175px;
		padding-right: 190px;

		br {
			display: none;
		}
	}
}
