.order {
	background: var(--light-color);
	padding-bottom: 55px;

	@media #{$not-mobile} {
		padding: 50px 0;
	}
}

.order__text {
	padding: 17px 0 15px;
	font-size: 13px;

	@media #{$not-mobile} {
		font-size: 17px;
		line-height: 30px;
		padding: 4px 0 15px;
	}

	@media #{$desktop-only} {
		box-sizing: border-box;
		padding-left: 175px;
		padding-right: 190px;
	}
}
