.production {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 1px solid var(--border-color);

	@media (--desktop-only) {
		display: grid;
		grid-template-columns: 683px auto;
		grid-template-areas: "video title" "video content";
		width: 100%;
	}

	&:hover,
	&:focus-within {
		box-shadow: 0 6px 10px var(--pale-border-color);
	}

	&:active,
	&:focus-within {
		box-shadow: 0 3px 5px var(--pale-border-color);
	}
}

.production__container {
	display: flex;
	flex-direction: column;
	padding: 21px 30px;
	grid-area: content;

	@media (--tablet-only) {
		padding: 12px 40px;
	}

	@media (--desktop-only) {
		padding: 13px 57px 13px 79px;
	}
}

.production__container--title {
	grid-area: title;

	@media (--mobile-only) {
		padding-right: 0;
	}
}

.production__title {
	display: flex;
	gap: 25px;
	align-items: center;
	margin: 0 0 5px;

	@media (--not-mobile) {
		margin: 29px 0 0;
		gap: 33px;
	}

	@media (--desktop-only) {
		margin-top: 47px;
		flex-direction: column;
		gap: 27px;
		align-items: flex-start;
	}

	&::before {
		width: 32px;
		height: 32px;
		background: var(--accent-color);
		outline: 1px dashed #000000;
		outline-offset: -1px;
		content: "";
	}
}

.production__video {
	align-self: center;
	width: 260px;
	height: 150px;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	@media (--tablet-only) {
		order: -1;
		width: 668px;
		height: 450px;
	}

	@media (--desktop-only) {
		width: 683px;
		height: 455px;
		grid-area: video;
	}
}

.production__text {
	margin: 14px 0 40px;
	font-size: 13px;

	@media (--not-mobile) {
		font-size: 15px;
		margin-top: 0;
	}

	@media (--desktop-only) {
		margin-bottom: 50px;
	}
}

.production__button {
	margin: 0 4px 12px;
	line-height: 16px;

	@media (--tablet-only) {
		margin: 0 2px 34px;
	}

	@media (--desktop-only) {
		margin: 0 0 47px;
	}
}
