.production {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 1px solid var(--border-color);

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 683px auto;
		grid-template-areas: "video title" "video content";
		width: 100%;
	}

	&:hover,
	&:focus-within {
		box-shadow: 0 6px 10px var(--pale-border-color);
	}

	&:active,
	&:focus-within {
		box-shadow: 0 3px 5px var(--pale-border-color);
	}
}

.production__container {
	display: flex;
	flex-direction: column;
	padding: 21px 32px;
	grid-area: content;

	@media #{$tablet-only} {
		padding: 12px 40px;
	}

	@media #{$desktop-only} {
		padding: 15px 57px 0 79px;
	}
}

.production__container--title {
	grid-area: title;
	display: block;

	@media #{$mobile-only} {
		padding-right: 0;
	}
}

.production__title {
	display: flex;
	gap: 25px;
	align-items: center;
	margin: 0 0 5px;

	@media #{$not-mobile} {
		gap: 33px;
		margin: 27px 0 0;
	}

	@media #{$desktop-only} {
		flex-direction: column;
		gap: 23px;
		align-items: flex-start;
	}

	&::before {
		flex-shrink: 0;
		margin-top: -5px;
		width: 32px;
		height: 32px;
		background-color: var(--accent-color);
		mask: url("../../icons/stack.svg#video-icon") no-repeat center / contain;
		outline: 1px dashed #000000;
		outline-offset: -1px;
		content: "";

		@media #{$desktop-only} {
			margin-top: 0;
		}
	}
}

.production__video {
	position: relative;
	align-self: center;
	width: 260px;
	height: 150px;
	outline: 1px dashed #000000;
	outline-offset: -1px;

	@media #{$tablet-only} {
		order: -1;
		width: 668px;
		height: 455px;
	}

	@media #{$desktop-only} {
		width: 683px;
		height: 455px;
		grid-area: video;
	}
}

.production__video-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 102px;
	height: 102px;
	background: url("../../icons/stack.svg#play-video-icon") no-repeat center / contain;
	border: none;
	transform: translate(-50%, -50%);

	&:hover {
		width: 116px;
		height: 116px;
	}

	&:active {
		background-size: 80%;
		opacity: 0.3;
	}
}

.production__text {
	margin: 14px 0 40px;
	font-size: 13px;

	@media #{$not-mobile} {
		font-size: 15px;
		line-height: 30px;
		margin-top: 0;
	}

	@media #{$desktop-only} {
		margin-bottom: 50px;
	}
}

.production__button {
	margin: 0 2px 12px;
	line-height: 16px;

	@media #{$tablet-only} {
		margin: 0 2px 34px;
	}

	@media #{$desktop-only} {
		margin: 0 0 47px;
	}
}
