.product {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px;
	background: var(--light-color);
}

.product__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 0;
	padding: 0;
	list-style: none;
}
