.product-card {
	display: flex;
	flex-direction: column;
	width: 260px;

	@media #{$tablet-only} {
		flex-direction: row;
		width: 668px;
	}

	@media #{$desktop-only} {
		width: 316px;
	}
}

.product-card__image {
	display: block;
	flex-shrink: 0;
	width: 260px;
	height: 195px;

	@media #{$tablet-only} {
		width: 334px;
		height: 334px;
	}

	@media #{$desktop-only} {
		width: 316px;
		height: 462px;
	}
}

.product-card__wrapper {
	display: flex;
	flex-direction: column;
	padding: 28px;
	padding-bottom: 26px;
	border: 1px solid var(--border-color);
	box-sizing: border-box;

	&:hover,
	&:focus-within {
		box-shadow: 0 6px 10px var(--pale-border-color);
	}

	&:active,
	&:focus-within {
		box-shadow: 0 3px 5px var(--pale-border-color);
	}

	@media #{$tablet-only} {
		width: 334px;
		padding: 27px 33px 23px 30px;
	}

	@media #{$desktop-only} {
		height: 100%;
		padding: 25px 32px 23px 26px;
	}

	@media #{$mobile-only} {
		&--third {
			padding-top: 24px;

			.product-card__title {
				margin-bottom: 10px;
			}
		}
	}
}

.product-card__title {
	margin: 0;
	margin-bottom: 6px;
}

.product-card__link {
	color: inherit;
	text-decoration: none;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.product-card__text {
	margin: 0;
	margin-bottom: 17px;
	font-size: 13px;
	line-height: 30px;

	@media #{$not-mobile} {
		font-size: 15px;
		margin-bottom: 14px;
	}
}

.product-card__footer-conatiner {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	padding-top: 23px;
	border-top: 1px solid var(--border-color);
}

.product-card__price {
	font-weight: 700;
	color: var(--main-color);

	@media #{$not-mobile} {
		font-size: 17px;
	}
}

.product-card__button {
	position: relative;
	width: 24px;
	height: 24px;

	&::after {
		position: absolute;
		top: -3px;
		left: 3px;
		width: 100%;
		height: 100%;
		content: "";
		background-color: var(--pale-main-color);
		mask: url("../../icons/stack.svg#cart-icon") no-repeat center / contain;

		@media #{$not-mobile} {
			left: 1px;
		}
	}

	&:hover::after {
		background-color: var(--accent-color);
	}

	&:active::after {
		background-color: var(--pale-accent-color);
	}
}
