.promo-list {
	display: none;

	@media #{$desktop-only} {
		display: flex;
		flex-wrap: wrap;
		grid-area: promo;
		font-size: 15px;
	}
}

.promo-list__item {
	padding: 20px 0;
	padding-right: 62px;
}
