.review {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 27px 0;

	@media (--not-mobile) {
		display: grid;
		grid-template-columns: auto 175px;
		grid-template-areas: "title button" "text text";
		padding: 82px 0;

		&::before {
			position: absolute;
			top: 0;
			left: -50px;
			width: 350px;
			height: 457px;
			content: "";
			outline: 1px dashed #000000;
			outline-offset: -1px;
		}
	}

	@media (--desktop-only) {
		padding: 78px 0 96px 175px;
		box-sizing: border-box;

		&::before {
			left: 0;
		}
	}
}

.review__title {
	margin: 0;

	grid-area: title;

	@media (--not-mobile) {
		margin-bottom: 38px;
	}
}

.review__list {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;

	grid-area: text;

	@media (--not-mobile) {
		margin: 0;
	}
}

.review__text {
	margin: 0;
	margin-bottom: 33px;
	line-height: 30px;

	@media (--not-mobile) {
		margin-bottom: 61px;
		font-size: 17px;
	}
}

.review__author {
	margin: 0;
	font-size: 17px;
	grid-area: author;

	@media (--not-mobile) {
		font-size: 18px;
	}
}

.review__slider-buttons {
	display: flex;
	margin-bottom: 38px;

	@media (--not-mobile) {
		position: absolute;
		bottom: 82px;
		right: 0;
		margin: 0;
	}

	@media (--desktop-only) {
		bottom: 96px;
	}
}

.review__slider-button {
	display: inline-block;
	flex-grow: 1;
	padding: 13px 38px;
	width: 26px;
	height: 50px;
	background: var(--light-color);
	border: 1px solid var(--border-color);
}

.review__button {
	margin-bottom: 18px;

	grid-area: button;

	@media (--not-mobile) {
		align-self: start;
	}
}
