.review {
	position: relative;
	padding-bottom: 20px;

	@media #{$tablet-only} {
		padding-bottom: 75px;
	}

	@media #{$desktop-only} {
		padding-bottom: 86px;
	}
}

.review__container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 14px 0;

	@include bg-image("review");

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: auto 175px;
		grid-template-areas: "title button" "text text";
		padding: 77px 4px 47px 0;

		&::before {
			position: absolute;
			top: 0;
			left: -50px;
			width: 350px;
			height: 457px;
			background: var(--bg-image) no-repeat center / cover;
			content: "";
			z-index: -1;
		}
	}

	@media #{$desktop-only} {
		padding: 78px 0 96px 175px;
		box-sizing: border-box;

		&::before {
			left: 0;
		}
	}
}

.review__title {
	margin: 0;
	margin-bottom: 14px;

	grid-area: title;

	@media #{$not-mobile} {
		margin-bottom: 38px;
	}

	@media #{$tablet-only} {
		margin-top: 5px;
	}
}

.review__list {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;

	grid-area: text;

	@media #{$not-mobile} {
		margin: 0;
	}
}

.review__item {
	display: block;

	&--hidden {
		display: none;
	}
}

.review__text {
	margin: 0;
	margin-bottom: 30px;
	line-height: 30px;

	@media #{$not-mobile} {
		margin-bottom: 58px;
		font-size: 17px;
	}

	@media #{$desktop-only} {
		margin-bottom: 40px;
	}
}

.review__author {
	margin: 0;
	font-size: 17px;
	line-height: 30px;
	grid-area: author;

	@media #{$tablet-only} {
		margin-bottom: 10px;
	}
}

.review__author-bold {
	font-size: 17px;
	line-height: 24px;

	@media #{$tablet-only} {
		font-size: 18px;
	}
}

.review__slider-buttons {
	display: flex;
	margin-bottom: 41px;

	@media #{$not-mobile} {
		position: absolute;
		bottom: 61px;
		right: 22px;
		margin: 0;
	}

	@media #{$desktop-only} {
		bottom: 102px;
		right: 18px;
	}
}

.review__slider-button {
	position: relative;
	display: inline-block;
	flex-grow: 1;
	width: 50px;
	height: 48px;
	background: transparent;
	border: 1px solid var(--border-color);

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background-color: var(--main-color);
	}

	&:hover::after {
		opacity: 0.6;
	}

	&:active::after {
		opacity: 0.3;
	}

	@media #{$not-mobile} {
		margin-left: 37px;
		border: none;
	}
}

.review__prev {
	&::after {
		mask: url("../../icons/stack.svg#arrow-icon") no-repeat center / contain;
		transform: rotate(180deg);
	}
}

.review__next {
	&::after {
		mask: url("../../icons/stack.svg#arrow-icon") no-repeat center / contain;
	}
}

.review__button {
	margin-bottom: 18px;
	padding: 14px;

	grid-area: button;

	@media #{$not-mobile} {
		align-self: start;
	}

	// @media #{$tablet-only} {
	// 	margin-right: 4px;
	// }
}
