.site-list {
	@media (--tablet-only) {
		grid-area: site;
		font-size: 15px;
	}
}

.site-list__item {
	@media (--tablet-only) {
		padding: 20px 0;
	}

	@media (--desktop-only) {
		padding: 32px 0;
	}
}
