.site-list {
	@media #{$tablet-only} {
		grid-area: site;
		font-size: 15px;
	}
}

.site-list__item {
	@media #{$tablet-only} {
		width: 167px;
		padding: 20px 0;
	}

	@media #{$desktop-only} {
		width: 184px;
		padding: 32px 0;

		&:nth-child(2n + 2) {
			padding-left: 35px;
			border-left: 1px solid var(--pale-border-color);
		}
	}
}
