.social {
	display: flex;
	gap: 29px;
	list-style: none;
}

.social__item {
	box-sizing: border-box;
}

.social__link {
	display: block;
	width: 40px;
	height: 40px;

	&::after {
		background-color: var(--main-color);
	}

	&--vk::after {
		mask: url("../../icons/stack.svg#vk-icon") no-repeat center / contain;
	}

	&--yt::after {
		mask: url("../../icons/stack.svg#youtube-icon") no-repeat center / contain;
	}

	&--tg::after {
		mask: url("../../icons/stack.svg#telegram-icon") no-repeat center / contain;
	}
}
