.user-list {
	grid-area: user;

	@media #{$not-mobile} {
		margin-left: auto;
	}
}

.user-list__item {
	@media #{$not-mobile} {
		padding: 32px 0;
		border-left: 1px solid var(--pale-border-color);
	}
}

.user-list__link {
	position: relative;

	@media #{$not-mobile} {
		padding-left: 85px;
	}

	&::before {
		position: absolute;
		left: 0;
		width: 24px;
		height: 24px;
		background-color: var(--pale-main-color);
		content: "";

		@media #{$not-mobile} {
			left: 32px;
		}
	}

	&--search::before {
		mask: url("../../icons/stack.svg#search-icon") no-repeat center / contain;
	}

	&--cart::before {
		mask: url("../../icons/stack.svg#cart-icon") no-repeat center / contain;
	}

	&:hover::before {
		background-color: var(--accent-color);
	}

	&:active::before {
		background-color: var(--pale-accent-color);
	}
}

.user-list__text--hidden {
	@media #{$not-mobile} {
		display: none;
	}
}
