.user-list {
	grid-area: user;

	@media (--not-mobile) {
		margin-left: auto;
	}
}

.user-list__item {
	@media (--not-mobile) {
		padding: 32px 0;
	}
}

.user-list__link {
	position: relative;
	padding-left: 82px;

	&::before {
		position: absolute;
		left: 32px;
		width: 21px;
		height: 21px;
		content: "";
		outline: 1px dashed #000000;
		outline-offset: -1px;
	}
}

.user-list__text--hidden {
	@media (--not-mobile) {
		display: none;
	}
}
