:root {
	--base-color: hsl(0 0% 27%);
	--main-color: hsl(0 0% 0%);
	--accent-color: hsl(168 54% 60%);
	--sec-accent-color: hsl(171 48% 55%);
	--third-accent-color: hsl(168 60% 59%);
	--fourth-accent-color: hsl(171 50% 52%);
	--light-color: hsl(0 0% 100%);
	--light-accent-color: hsl(0 0% 95%);
	--very-light-color: hsl(0 0% 98%);
	--border-color: hsl(0 0% 93%);
	--border-modal-color: hsl(0 0% 78%);
	--accent-dark-color: hsl(172 76% 32%);
	--accent-link-color: hsl(168 55% 60%);
	--pale-border-color: hsl(0 0% 0% / 0.1);
	--pale-link-color: hsl(171 50% 52% / 0.1);
	--pale-button-color: hsl(0 0% 100% / 0.3);
	--pale-accent-color: hsl(168 54% 60% / 0.3);
	--pale-main-color: hsl(0 0% 0% / 0.2);
	--pale-active-color: hsl(0 0% 0% / 0.3);
	--pale-hover-color: hsl(0 0% 0% / 0.6);
	--pale-modal-color: hsl(0 0% 27% / 0.1);
	--modal-shadow-color: hsl(180 100% 0% / 0.25);
}
