:root {
	--base-color: #444444;
	--main-color: #000000;
	--accent-color: #63d1bb;
	--sec-accent-color: #56c3b2;
	--third-accent-color: #59d5bc;
	--fourth-accent-color: #46c1ae;
	--light-color: #ffffff;
	--light-accent-color: #f1f1f1;
	--border-color: #ececec;
	--border-modal-color: #c6c6c6;
	--accent-dark-color: #149080;
	--accent-link-color: #62d1ba;
	--pale-border-color: rgba(0, 0, 0, 0.1);
	--pale-link-color: rgba(70, 193, 174, 0.1);
	--pale-button-color: rgba(255, 255, 255, 0.3);
	--pale-accent-color: rgba(99, 209, 187, 0.3);
	--pale-main-color: rgba(0, 0, 0, 0.2);
	--pale-active-color: rgba(0, 0, 0, 0.3);
	--pale-modal-color: rgba(68, 68, 68, 0.1);
	--modal-shadow-color: rgba(0, 1, 1, 0.25);
}
