<footer class="main__footer footer">
	<div class="footer__container page__centerer">
		<a class="footer__main-logo logo" href="./index.html">
			<img class="logo__image"  src="#"  alt="Логотип интернет мазагина Мишка.">
		</a>
		<ul class="footer__list social">
			<li class="social__item">
				<a class="social__link social__link--vk" href="https://vk.com/htmlacademy" target="_blank">
					<span class="visually-hidden">Вконтакте</span>
				</a>
			</li>
			<li class="social__item">
				<a class="social__link social__link--yt" href="https://www.youtube.com/user/htmlacademyru" target="_blank">
					<span class="visually-hidden">Ютуб</span>
				</a>
			</li>
			<li class="social__item">
				<a class="social__link social__link--tg" href="https://t.me/htmlacademy" target="_blank">
					<span class="visually-hidden">Телеграм</span>
				</a>
			</li>
		</ul>
		<p class="footer__copyright">
			Разработано
			<a class="footer__logo" href="https://htmlacademy.ru/intensive/adaptive">
				<span class="visually-hidden">в HTML-Академии.</span>
			</a>
		</p>
	</div>
</footer>
