<footer class="footer">
	<ul class="footer__list social">
		<li class="social__item">
			<a class="social__link social__link--vk" href="https://vk.com/htmlacademy" target="_blank">
				<span class="visually-hidden">Вконтакте</span>
			</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link--yt" href="https://www.youtube.com/user/htmlacademyru" target="_blank">
				<span class="visually-hidden">Ютуб</span>
			</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link--tg" href="https://t.me/htmlacademy" target="_blank">
				<span class="visually-hidden">Телеграм</span>
			</a>
		</li>
	</ul>
	<p class="footer__сomunity">
		Разработано
		<a class="footer__logo" href="https://htmlacademy.ru/">
			<img src="#"  alt="Логотип HTML-Академии.">
		</a>
	</p>
</footer>
