<header class="main__header header page__centerer">
	<a class="header__logo logo" href="./index.html">
		<img class="logo__image"  src="#"  alt="Логотип интернет мазагина Мишка.">
	</a>
	<nav class="header__nav nav">
		<button class="nav__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<div class="nav__wrapper nav__wrapper--close">
			<ul class="nav__list site-list">
				<li class="nav__item site-list__item">
					<a class="nav__link site-list__link" href="./catalog.html">Каталог товаров</a>
				</li>
				<li class="nav__item site-list__item site-list__item--bordered">
					<a class="nav__link site-list__link" href="./form.html">Вязание на заказ</a>
				</li>
			</ul>
			<ul class="nav__list user-list">
				<li class="nav__item user-list__item">
					<a class="nav__link user-list__link" href="javascript:void(0)">
						<span class="user-list__text user-list__text--hidden">
							Поиск по сайту
						</span>
					</a>
				</li>
				<li class="nav__item user-list__item">
					<a class="nav__link user-list__link" href="javascript:void(0)">Корзина: пока пуста</a>
				</li>
			</ul>
			<ul class="nav__list promo-list">
				<li class="promo-list__item">
					<a class="promo-list__link" href="javascript:void(0)">Новые поступления</a>
				</li>
				<li class="promo-list__item">
					<a class="promo-list__link" href="javascript:void(0)">Распродажа</a>
				</li>
			</ul>
			<span class="nav__delivery">Бесплатная доставка по России</span>
		</div>
	</nav>
</header>
