<div class="modal modal--close">
	<section class="modal__inner cart">
		<h2 class="cart__title title">Добавить в корзину</h2>
		<form class="cart__form" action="https://echo.htmlacademy.ru" method="get">
			<fieldset class="cart__filter-group">
				<legend class="cart__text">Выберите размер:</legend>
				<div class="cart__form-container">
					<label class="cart__label">
						<input class="cart__input" type="radio" name="size" value="s"> S
					</label>
					<label class="cart__label">
						<input class="cart__input cart__input--wide" type="radio" name="size" value="m"> M
					</label>
					<label class="cart__label">
						<input class="cart__input" type="radio" name="size" value="l"> L
					</label>
				</div>
			</fieldset>
			<button class="cart__button button button--colorized" type="submit">Добавить</button>
		</form>
	</section>
</div>
