<div class="modal-container">
	<section class="order">
		<h2 class="order__title title">Добавить в корзину</h2>
		<form class="order__form" action="https://echo.htmlacademy.ru" method="get">
			<fieldset class="order__filter-group">
				<legend class="order__text">Выберите размер:</legend>
				<div class="order__form-container">
					<label class="order__label">
						<input type="radio" name="size" value="s"> S
					</label>
					<label class="order__label">
						<input type="radio" name="size" value="m"> M
					</label>
					<label class="order__label">
						<input type="radio" name="size" value="l"> L
					</label>
				</div>
			</fieldset>
			<button class="order__button button button--colorized" type="submit">Добавить</button>
		</form>
	</section>
</div>
