{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog-page">
	<section class="catalog-page__header">
		<h1 class="catalog-page__title intro-title">Каталог товаров</h1>
	</section>
	<section class="product">
		<h2 class="visually-hidden">Список товаров</h2>
		<ul class="product__list">
			<li class="product__item product-card ">
				<img class="product-card__image" src="#" alt="">
				<div class="product-card__container">
					<h3 class="product-card__title">
						<a class="product-card__link" href="#">Зайчик-попрыгайчик</a>
					</h3>
					<p class="product-card__text text">Рост 30 см, вес 200 г</p>
					<div class="product-card__footer-conatiner">
						<span class="product-card__price">1 200 руб.</span>
						<button class="product-card__button" type="button">
							<span class="visually-hidden">В корзину</span>
						</button>
					</div>
				</div>
			</li>
			<li class="product__item product-card">
				<img class="product-card__image" src="#" alt="">
				<div class="product-card__container">
					<h3 class="product-card__title">
						<a class="product-card__link" href="#">Корзинка для белья</a>
					</h3>
					<p class="product-card__text text">Диаметр 15 см, высота 10 см</p>
					<div class="product-card__footer-conatiner">
						<span class="product-card__price">690 руб.</span>
						<button class="product-card__button" type="button">
							<span class="visually-hidden">В корзину</span>
						</button>
					</div>
				</div>
			</li>
			<li class="product__item product-card">
				<img class="product-card__image" src="#" alt="">
				<div class="product-card__container">
					<h3 class="product-card__title">
						<a class="product-card__link" href="#">Большая корзинка для игрушек</a>
					</h3>
					<p class="product-card__text text">Диаметр 30 см, высота 30 см</p>
					<div class="product-card__footer-conatiner">
						<span class="product-card__price">1 500 руб.</span>
						<button class="product-card__button" type="button">
							<span class="visually-hidden">В корзину</span>
						</button>
					</div>
				</div>
			</li>
		</ul>
		<div class="production">
			<h3 class="production__title">Процесс производства</h3>
			<!--тут могло быть ваше видео-->>
			<p class="production__text">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
			<button class="production__button button">Сделать заказ</button>
		</div>
	</section>
</main>
{% endblock %}
