{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main__content order-page">
	<h1 class="visually-hidden">Интернет-магазин "Мишка". Форма заказа.</h1>
	<section class="order-page__inner">
		<h2 class="order-page__title inner-title">Вязание на заказ</h2>
		<div class="order">
			<p class="order__text page__centerer">
				Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
			</p>
			<form class="order__form form" action="https://echo.htmlacademy.ru" method="get">
				<div class="form__filter-group page__centerer" role="group" aria-labelledby="legend-type">
					<span class="form__filter-title" id="legend-type">Тип</span>
					<ul class="form__filter-list">
						<li class="form__filter-item filter">
							<label class="form__filter-label form__text filter__label">
								<input class="filter__input filter__input--radio" type="radio" name="type" value="stuff">Аксессуар для интерьера
							</label>
						</li>
						<li class="form__filter-item  filter">
							<label class="form__filter-label form__text filter__label">
								<input class="filter__input filter__input--radio" type="radio" name="type" value="toy">Детская игрушка
							</label>
						</li>
					</ul>
				</div>
				<div class="form__wrapper">
					<div class="form__filter-group page__centerer" role="group" aria-labelledby="legend-color">
						<span class="form__filter-title" id="legend-color">Цвет</span>
						<ul class="form__filter-list form__filter-list--checkbox">
							<li class="form__filter-item filter">
								<label class="form__filter-label form__text filter__label">
									<input class="filter__input filter__input--checkbox" type="checkbox" name="filter-color" value="white">Белый
								</label>
							</li>
							<li class="form__filter-item filter">
								<label class="form__filter-label form__text filter__label">
									<input class="filter__input filter__input--checkbox" type="checkbox" name="filter-color" value="grey">Серый
								</label>
							</li>
							<li class="form__filter-item filter">
								<label class="form__filter-label form__text filter__label">
									<input class="filter__input filter__input--checkbox" type="checkbox" name="filter-color" value="tiffany">Тиффани
								</label>
							</li>
							<li class="form__filter-item filter">
								<label class="form__filter-label form__text filter__label">
									<input class="filter__input filter__input--checkbox" type="checkbox" name="filter-color" value="black">Черный
								</label>
							</li>
							<li class="form__filter-item filter">
								<label class="form__filter-label form__text filter__label">
									<input class="filter__input filter__input--checkbox" type="checkbox" name="filter-color" value="pink">Розовый
								</label>
							</li>
							<li class="form__filter-item filter">
								<label class="form__filter-label form__text filter__label">
									<input class="filter__input filter__input--checkbox" type="checkbox" name="filter-color" value="orange">Оранжевый
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="form__filter-group page__centerer" role="group" aria-labelledby="legend-name">
					<span class="form__filter-title" id="legend-name">ФИО</span>
					<div  class="form__filter-container">
						<label class="form__filter-label form__text" for="name">Имя:</label>
						<input class="form__filter-input form__text" name="name" id="name" type="text" placeholder="Введите ваше имя*">
						<label class="form__filter-label form__text" for="surname">Фамилия:</label>
						<input class="form__filter-input form__text" name="surname" id="surname" type="text" placeholder="Укажите фамилию*">
						<label class="form__filter-label form__text" for="father-name">Отчество:</label>
						<input class="form__filter-input form__text" name="father-name" id="father-name" type="text" placeholder="Отчество, если желаете">
					</div>
				</div>
				<div class="form__wrapper">
					<div class="form__filter-group page__centerer">
						<label class="form__filter-title" for="tel">Тел</label>
						<input class="form__filter-input form__text" name="phone" id="tel" type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ*">
					</div>
				</div>
				<div class="form__wrapper">
					<div class="form__filter-group page__centerer">
						<label class="form__filter-title" for="email">E-mail</label>
						<input class="form__filter-input form__text" name="email" id="email" type="email" placeholder="Ваш Email*">
					</div>
				</div>
				<div class="form__filter-group page__centerer">
					<label class="form__filter-title" for="desire">
						Доп<span class="visually-hidden">олнителльные пожелания</span>
					</label>
					<textarea class="form__filter-text form__text" id="desire" name="desire" cols="10" rows="10" placeholder="Опишите все ваши пожелания к заказу"></textarea>
				</div>
				<div class="form__container page__centerer">
					<span class="form__tip"><sup>*</sup>Поля обязательны для заполнения</span>
					<button class="form__button button">Отправить заказ</button>
				</div>
			</form>
		</div>
	</section>
</main>
{% endblock %}
